# Average Air Quality 
---

### Based on the dataset collected, the scale presented was 0 (the poorest quality) to 100 (highest quality). In able to determine what states qualify for the top 5 of both areas, we will have to do it by average. In the data, multiple states show up due to the county of cities within the state. There are more cities, therefore more state counts. 
This section includes:
- importing CSVs 
- Why we are 
- Filtering the file to cities that have the highest average and the lowest average

In [1]:
# Importing essential libraries
import pandas as pd
import numpy as np

# Filter warnings
import warnings 
warnings.filterwarnings('ignore')

In [2]:
# Load in CSV 
waterAir_quality_df = pd.read_csv('output\waterAir_quality.csv')

In [3]:
# Display dataframe 
waterAir_quality_df.head(25)

,City,State,State_Abbre,Country,Latitude,Longitude,Population,WaterPollution,AirQuality
0,New York,New York,NY,United States of America,40.714,-74.007,8804190.0,49.504950,46.816038
1,Washington,District of Columbia,DC,United States of America,38.895,-77.036,689545.0,49.107143,66.129032
2,San Francisco,California,CA,United States of America,37.780,-122.414,873965.0,43.000000,60.514019
3,Los Angeles,California,CA,United States of America,34.052,-118.243,3898747.0,61.299435,36.621622
4,Alexandria,Virginia,VA,United States of America,38.805,-77.047,159467.0,46.153846,89.062500
5,Boston,Massachusetts,MA,United States of America,42.359,-71.057,675647.0,32.911392,78.235294
6,Saginaw,Michigan,MI,United States of America,43.445,-84.022,44202.0,70.000000,85.000000
7,San Antonio,Texas,TX,United States of America,29.423,-98.490,1434625.0,50.675676,63.414634
8,Chicago,Illinois,IL,United States of America,41.882,-87.628,2746388.0,53.620690,57.432432
9,Pittsburgh,Pennsylvania,PA,United States of America,40.441,-80.003,302971.0,59.615385,58.928571
10,Philadelphia,Pennsylvania,PA,United States of America,39.952,-75.164,1603797.0,55.645161,54.285714
11,Seattle,Washington,WA,United States of America,47.607,-122.338,737015.0,36.948529,79.370629
12,Baltimore,Maryland,MD,United States of America,39.289,-76.615,585708.0,64.130435,62.500000
13,Huntington Beach,California,CA,United States of America,33.659,-118.000,198711.0,65.625000,85.714286
14,Portland,Oregon,OR,United States of America,45.519,-122.679,652503.0,36.342593,74.122807
15,Indianapolis,Indiana,IN,United States of America,39.769,-86.158,887642.0,50.657895,67.441860
16,Miami,Florida,FL,United States of America,25.774,-80.192,442241.0,47.368421,70.202020
17,Detroit,Michigan,MI,United States of America,42.332,-83.047,639111.0,52.083333,51.219512
18,San Diego,California,CA,United States of America,32.716,-117.165,1386932.0,52.364865,74.382716
19,San Jose,California,CA,United States of America,37.336,-121.891,1013240.0,41.250000,62.209302
20,Denver,Colorado,CO,United States of America,39.739,-104.987,715522.0,36.830357,53.177966
21,Houston,Texas,TX,United States of America,29.760,-95.363,2304580.0,57.094595,45.860927
22,Phoenix,Arizona,AZ,United States of America,33.448,-112.074,1608139.0,47.647059,44.293478
23,Dallas,Texas,TX,United States of America,32.781,-96.797,1304379.0,42.692308,63.380282
24,Fort Worth,Texas,TX,United States of America,32.754,-97.331,918915.0,51.136364,47.727273

### Filtering Database  

#### - This section is to showcase the recoginition that each state has mutiple counts in the database. California was the example I used to recognize the counts and the best way to get the top 5 poorest and highest quality of air.

In [18]:
# Create California database
california_df = waterAir_quality_df[(waterAir_quality_df['State'] == 'California') | (waterAir_quality_df['State_Abbre'] == 'CA')]
grouped_california_df = california_df.groupby(['City', 'State', 'State_Abbre', 'Country', 'Latitude', 'Longitude', 'Population', 'WaterPollution', 'AirQuality']).size().reset_index(name='Count')

# Display dataframe
grouped_california_df.head(50)

,City,State,State_Abbre,Country,Latitude,Longitude,Population,WaterPollution,AirQuality,Count
0,Adelanto,California,CA,United States of America,34.579,-117.410,38046.0,50.000000,50.000000,1
1,Alameda,California,CA,United States of America,37.764,-122.243,78280.0,37.500000,62.500000,1
2,Aliso Viejo,California,CA,United States of America,33.575,-117.725,52176.0,75.000000,100.000000,1
3,Anaheim,California,CA,United States of America,33.833,-117.913,346824.0,33.333333,55.769231,1
4,Antioch,California,CA,United States of America,38.005,-121.806,115291.0,75.000000,0.000000,1
5,Apple Valley,California,CA,United States of America,34.501,-117.190,75791.0,0.000000,100.000000,1
6,Atascadero,California,CA,United States of America,35.489,-120.668,29773.0,100.000000,100.000000,1
7,Bakersfield,California,CA,United States of America,35.373,-119.019,403455.0,68.478261,16.666667,1
8,Banning,California,CA,United States of America,33.925,-116.878,29505.0,50.000000,80.000000,1
9,Belmont,California,CA,United States of America,37.520,-122.276,28335.0,25.000000,100.000000,1
10,Berkeley,California,CA,United States of America,37.871,-122.268,124321.0,36.111111,79.166667,1
11,Beverly Hills,California,CA,United States of America,34.073,-118.400,32701.0,0.000000,100.000000,1
12,Camarillo,California,CA,United States of America,34.217,-119.039,70741.0,0.000000,100.000000,1
13,Carlsbad,California,CA,United States of America,33.158,-117.351,114746.0,25.000000,75.000000,1
14,Carson,California,CA,United States of America,33.832,-118.278,95558.0,100.000000,25.000000,1
15,Chico,California,CA,United States of America,39.728,-121.839,101475.0,50.000000,72.500000,1
16,Chula Vista,California,CA,United States of America,32.640,-117.082,275487.0,75.000000,37.500000,1
17,Citrus Heights,California,CA,United States of America,38.707,-121.290,87583.0,50.000000,100.000000,1
18,Concord,California,CA,United States of America,37.977,-122.034,125410.0,12.500000,62.500000,1
19,Corcoran,California,CA,United States of America,36.098,-119.560,22339.0,50.000000,50.000000,1
20,Corona,California,CA,United States of America,33.876,-117.567,157136.0,37.500000,50.000000,1
21,Costa Mesa,California,CA,United States of America,33.641,-117.919,111918.0,40.000000,56.250000,1
22,Crescent City,California,CA,United States of America,41.767,-124.199,6673.0,0.000000,100.000000,1
23,Danville,California,CA,United States of America,37.822,-122.000,43582.0,75.000000,100.000000,1
24,Davis,California,CA,United States of America,38.543,-121.740,66850.0,25.000000,75.000000,1
25,Dublin,California,CA,United States of America,37.706,-121.924,72589.0,0.000000,100.000000,1
26,El Cajon,California,CA,United States of America,32.795,-116.962,106215.0,25.000000,50.000000,1
27,El Centro,California,CA,United States of America,32.793,-115.563,44322.0,66.666667,78.571429,1
28,Encinitas,California,CA,United States of America,33.037,-117.292,62007.0,12.500000,75.000000,1
29,Escondido,California,CA,United States of America,33.122,-117.081,151038.0,12.500000,75.000000,1
30,Eureka,California,CA,United States of America,40.804,-124.166,26512.0,0.000000,100.000000,1
31,Fairfield,California,CA,United States of America,38.249,-122.040,119881.0,37.500000,87.500000,1
32,Fontana,California,CA,United States of America,34.101,-117.436,208393.0,35.000000,45.000000,1
33,Foster City,California,CA,United States of America,37.558,-122.264,33805.0,0.000000,100.000000,1
34,Fremont,California,CA,United States of America,37.549,-121.988,230504.0,15.000000,79.166667,1
35,Fresno,California,CA,United States of America,36.737,-119.789,542107.0,78.125000,21.250000,1
36,Fullerton,California,CA,United States of America,33.870,-117.924,143617.0,25.000000,100.000000,1
37,Garden Grove,California,CA,United States of America,33.775,-117.941,171949.0,0.000000,75.000000,1
38,Glendale,California,CA,United States of America,34.143,-118.258,196543.0,45.833333,77.500000,1
39,Glendora,California,CA,United States of America,34.136,-117.865,52558.0,25.000000,50.000000,1
40,Grass Valley,California,CA,United States of America,39.224,-121.055,14016.0,62.500000,62.500000,1
41,Hayward,California,CA,United States of America,37.671,-122.085,162954.0,25.000000,87.500000,1
42,Highland,California,CA,United States of America,34.128,-117.209,56999.0,100.000000,50.000000,1
43,Huntington Beach,California,CA,United States of America,33.659,-118.000,198711.0,65.625000,85.714286,1
44,Imperial,California,CA,United States of America,32.838,-115.572,20263.0,50.000000,87.500000,1
45,Indio,California,CA,United States of America,33.719,-116.216,89137.0,25.000000,50.000000,1
46,Irvine,California,CA,United States of America,33.684,-117.796,307670.0,33.333333,63.157895,1
47,Jackson,California,CA,United States of America,38.348,-120.772,5019.0,50.000000,100.000000,1
48,Lake Elsinore,California,CA,United States of America,33.668,-117.328,70265.0,75.000000,50.000000,1
49,Lake Forest,California,CA,United States of America,33.647,-117.686,85858.0,0.000000,87.500000,1

In [15]:
# Filter California with the Air Quality of 100
california_100_air_df = california_df[california_df['AirQuality'] == 100]
# Display
california_100_air_df.head(10)

,City,State,State_Abbre,Country,Latitude,Longitude,Population,WaterPollution,AirQuality
217,Beverly Hills,California,CA,United States of America,34.073,-118.400,32701.0,0.0,100.0
251,Crescent City,California,CA,United States of America,41.767,-124.199,6673.0,0.0,100.0
254,Yuba City,California,CA,United States of America,39.141,-121.618,70117.0,50.0,100.0
273,Vallejo,California,CA,United States of America,38.101,-122.255,126090.0,50.0,100.0
372,Salinas,California,CA,United States of America,36.678,-121.655,163542.0,50.0,100.0
374,Eureka,California,CA,United States of America,40.804,-124.166,26512.0,0.0,100.0
405,Fullerton,California,CA,United States of America,33.870,-117.924,143617.0,25.0,100.0
422,Redwood City,California,CA,United States of America,37.484,-122.226,84292.0,0.0,100.0
456,Paso Robles,California,CA,United States of America,35.623,-120.688,31490.0,75.0,100.0
464,Apple Valley,California,CA,United States of America,34.501,-117.190,75791.0,0.0,100.0

In [17]:
# Get the number of rows of how many citites have 100 rank as their air quality
num_rows = len(california_100_air_df)
print(f"Number of rows: {num_rows}")

Number of rows: 29

### Filter the original dataframe and get the count of cities per state.

In [19]:
# Filter dataframe for columns and state abbreviation, this is to get the city count
filtered_df = waterAir_quality_df[['State', 'State_Abbre']]
grouped_df = filtered_df.groupby(['State', 'State_Abbre']).size().reset_index(name='Count')

#Display dataframe 
grouped_df.head(51)

                   State State_Abbre  Count
0                Alabama          AL      6
1                 Alaska          AK      8
2                Arizona          AZ     16
3               Arkansas          AR     13
4             California          CA    122
5               Colorado          CO     13
6            Connecticut          CT     14
7               Delaware          DE      4
8   District of Columbia          DC      1
9                Florida          FL     48
10               Georgia          GA     31
11                Hawaii          HI      1
12                 Idaho          ID      7
13              Illinois          IL     26
14               Indiana          IN     25
15                  Iowa          IA     11
16                Kansas          KS     10
17              Kentucky          KY     13
18             Louisiana          LA      8
19                 Maine          ME      8
20              Maryland          MD     10
21         Massachusetts          MA     22
22              Michigan          MI     24
23             Minnesota          MN     13
24           Mississippi          MS     10
25              Missouri          MO     13
26               Montana          MT      8
27              Nebraska          NE      6
28                Nevada          NV      5
29         New Hampshire          NH      9
30            New Jersey          NJ     13
31            New Mexico          NM      6
32              New York          NY     22
33        North Carolina          NC     27
34          North Dakota          ND      7
35                  Ohio          OH     19
36              Oklahoma          OK      7
37                Oregon          OR     17
38          Pennsylvania          PA     17
39          Rhode Island          RI      5
40        South Carolina          SC     16
41          South Dakota          SD      6
42             Tennessee          TN     18
43                 Texas          TX     51
44                  Utah          UT      9
45               Vermont          VT      6
46              Virginia          VA     15
47            Washington          WA     29
48         West Virginia          WV     11
49             Wisconsin          WI     14
50               Wyoming          WY      7

### - Creating the average of air quality per state.

In [9]:
# Group by State and calculate the average AirQuality
average_airquality_df = waterAir_quality_df.groupby(['State', 'State_Abbre'])['AirQuality'].mean().reset_index()

In [10]:
# Rename the AirQuality column to reflect that it's an average
average_airquality_df = average_airquality_df.rename(columns={'AirQuality': 'AverageAirQuality'})

In [11]:
# Sort by the average AirQuality in descending order
sorted_airquality_df = average_airquality_df.sort_values(by='AverageAirQuality', ascending=False)

# Get the top 5 states for highest quality 
top_5_states = sorted_airquality_df.head(5)
print(top_5_states)

            State State_Abbre  AverageAirQuality
45        Vermont          VT          97.222222
50        Wyoming          WY          96.955782
23      Minnesota          MN          96.012668
29  New Hampshire          NH          95.121083
1          Alaska          AK          93.701299

In [6]:
# Get the top 5 states for poorest quality 
last_5_states = sorted_airquality_df.tail(5)
print(last_5_states)

                   State State_Abbre  AverageAirQuality
4             California          CA          74.524373
18             Louisiana          LA          74.045465
5               Colorado          CO          72.937064
10               Georgia          GA          70.112007
8   District of Columbia          DC          66.129032